h1, h2, h3 {
	font-family: Montserrat;
}

header {
	padding: 20px 0;

	h1 {
		@media (max-width:650px) {
			font-size: 1.5rem;
		}
	}
}

.container {
	padding-left: 0 !important;
	padding-right: 0 !important;
}


.primary {
	padding: 3em 0;
	border-bottom: 1px solid #777;
	border-top: 1px solid #777;

	.host,
	.musical-guest {
		color: #333;
	}

	.host {
		font-size: 8rem;
		line-height: 1;
		margin-bottom: 0;
		padding-bottom: 0.2em;

		@media (max-width:800px) {
			font-size: 6rem;
		}

		@media (max-width:650px) {
			font-size: 4rem;
		}

		@media (max-width:400px) {
			font-size: 3rem;
		}
	}

	.musical-guest {
		font-size: 6rem;
		line-height: 1;
		margin-bottom: 0;
		padding-top: 0.2em;

		@media (max-width:800px) {
			font-size: 4rem;
		}

		@media (max-width:650px) {
			font-size: 3rem;
		}

		@media (max-width:500px) {
			font-size: 2rem;
		}

	}

	.date {
		font-style: italic;
		font-family: Montserrat;
		font-size: 0.8rem;
		text-align: center;
		width: auto;
		display: inline-block;
		background: #eee;
		padding: 2px 5px;

		@media (max-width:650px) {
			font-size: 0.6rem;
		}
	}
}

.secondary {
	padding: 2em 0;
	border-bottom: 1px solid #777;

	.host,
	.musical-guest {
		color: #666;
	}

	.host {
		font-size: 4rem;
		line-height: 1;
		margin-bottom: 0;
		padding-bottom: 0.2em;

		@media (max-width:800px) {
			font-size: 3rem;
		}

		@media (max-width:650px) {
			font-size: 2rem;
		}

		@media (max-width:400px) {
			font-size: 1rem;
		}
	}

	.musical-guest {
		font-size: 2rem;
		line-height: 1;
		margin-bottom: 0;
		padding-top: 0.2em;

		@media (max-width:800px) {
			font-size: 1rem;
		}

		@media (max-width:650px) {
			font-size: 1rem;
		}

		@media (max-width:500px) {
			font-size: 0.8rem;
		}

	}

	.date {
		font-style: italic;
		font-family: Montserrat;
		font-size: 0.7rem;
		text-align: center;
		width: auto;
		display: inline-block;
		background: #eee;
		padding: 2px 5px;

		@media (max-width:650px) {
			font-size: 0.5rem;
		}
	}
}

footer {
	padding: 0.5em 0;
}